table,
th,
td {
  text-align: center;
}
table {
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid #444444;
}
tr:nth-child(1) {
  border-top: 3px solid #444444;
}
tr:nth-child(2) {
  border-top: 2px solid #444444;
}
tr:last-child {
  border-bottom: 3px solid #444444;
}
figcaption {
  display: flex;
  flex-direction: row;
}
h5 {
  margin-left: 0.5%;
  margin-top: 2.6%;
  color: #757575;
}
td {
  height: 40px;
}
.num {
  width: 127px;
}
.date {
  width: 381px;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}
.content {
  width: 500px;
  height: 600px;
  /* margin-left: 23%; */
  margin-top: 20px;
  margin-left: 0;
}
.content table{
  margin-right: 0;
}

/* 상세보기 */
.clear{
  clear: both;
}

.show {
  width: 500px;
  height: 350px;
  border: 3px solid #C2C2C2;
  padding: 20px;
  margin-top: 20px;
  overflow: auto;
}

.show p{
  float: left;
  border: 1px solid #C2C2C2;
  padding: 5px 10px;
  margin-right: 30px;
}

.show span {
  float: left;
  margin-top: 20px;
}
