
.clear{
  clear: both;
}


.boxes{
  width: 1200px;
  height: 500px;
  /* background-color: rgb(255, 227, 183); */
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-top: 40px;
}


.box1 {
  width: 500px;
  height: 400px;
  /* border: 1px solid red; */
  float: left;
}


.box2 {
  float: left;
  width: 500px;
  height: 400px;
  /* border: 1px solid blue; */
  margin-left: 100px;
}


.boxes h1 {
  font-size: 20px;
  font-family: Pretendard_Medium;
}

.box1 p, .box2 p{
  font-family: Pretendard_Light;
  font-size: 18px;
  float: left;
  width: 100px;
}
.box2 p{
  width: 170px;
}


.box1 input, .box2 input {
  margin-top: 12px;
  width: 250px;
  height: 30px;
}

.box1 button, .box2 button {
  font-family: Pretendard_Light;
  width: 4vw;
  height: 5vh;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid rgba(15, 76, 129, 0.47);
  border-radius: 26px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 195px;
}