.hidden {
  display: none;
}

table,
th,
td {
  text-align: center;
}
table {
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid #444444;
}
tr:nth-child(1) {
  border-top: 3px solid #444444;
}
tr:nth-child(2) {
  border-top: 2px solid #444444;
}
tr:last-child {
  border-bottom: 3px solid #444444;
}
td {
  height: 40px;
}
#name {
  width: 350px;
}
.name {
  padding-left: 3%;
  text-align: left;
  width: 350px;
  font-size: 17px;
}
#top-title {
  width: 530px;
}
#date,
.date {
  width: 200px;
}
.date {
  padding-left: 4.5%;
}
.check {
  width: 150px;
}
.check input {
  zoom: 1.5;
}
.table-situation {
  text-align: left;
  width: 530px;
}
.content {
  height: 800px;
  margin-left: 14%;
  margin-top: 2%;
}
.graph ul {
  margin: 0 50px 0 50px;
  padding: 1px 0 0 0;
  border-top: 0;
  border-right: 0;
  font-size: 11px;
  list-style: none;
}
.graph li {
  position: relative;
  margin: 10px 0;
  vertical-align: top;
  white-space: nowrap;
}

.graph .g_bar {
  display: inline-block;
  position: relative;
  height: 20px;
  border: 1px solid #ccc;
  border-left: 0;
  background: #e9e9e9;
}
.graph .g_bar span {
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  color: #767676;
  line-height: 20px;
}
