table,
th,
td {
  text-align: center;
}
table {
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid #444444;
}
tr:nth-child(1) {
  border-top: 3px solid #444444;
}
tr:nth-child(2) {
  border-top: 2px solid #444444;
}
tr:last-child {
  border-bottom: 3px solid #444444;
}
figcaption {
  display: flex;
  flex-direction: row;
}
h5 {
  margin-left: 0.5%;
  margin-top: 2.6%;
  color: #757575;
}
td {
  height: 40px;
}
.num {
  width: 127px;
}
.date {
  width: 381px;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}
.content {
  height: 600px;
  /* margin-left: 23%; */
  margin-left: 0;
}
.content table{
  margin-right: 0;
}
.total-content {
  width: 508px;
  height: 390px;
  border: 2px solid #c2c2c2;
}

.element {
  border: 1px solid #c2c2c2c2;
  margin: 36%;
  width: 168%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-content {
  margin-left: 16%;
}
.input-element {
  margin: 39%;
  width: 168%;
  height: 9%;
  display: flex;
  align-items: center;
  text-align: left;
}
.total-content {
  display: flex;
  flex-direction: row;
}
