.clear {
  clear: both;
}

p {
  font-family: Pretendard_Light;
}

/* 이미지 + 소개 */
.one {
  width: 550px;
  /* height: 500px; */
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
}

.one img {
  width: 100px;
}

.one p {
  font-size: 15px;
  float: right;
  margin-top: 13%;
  margin-bottom: 0px;
}

/* 로그인폼 */
.loginForm {
  width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginForm input {
  width: 530px;
  height: 40px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 20px;
}

#submit {
  width: 556px;
  background-color: #0f4c81;
  color: white;
  font-size: 15px;
  border: none;
}

/* 비번찾기 */
.findPW {
  width: 550px;
  /* border: 1px solid red; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.findPW p {
  font-size: 12px;
  color: #8d8d8d;
  float: right;
  cursor: pointer;
}

/* 회원가입 */
.register {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.register .p1 {
  font-size: 12px;
  color: #8d8d8d;
  float: left;
  text-align: center;
}

.register .p2 {
  font-size: 12px;
  color: #0f4c81;
  font-family: Pretendard_ExtraBold;
  /* text-align: center; */
  float: right;
  cursor: pointer;
}

.loginBTN {
  width: 556px;
  height: 46px;
  margin-top: 20px;
  background-color: #0f4c81;
  color: white;
  border: none;
  font-family: Pretendard_Bold;
  font-size: 15px;
  cursor: pointer;
}

#submit:hover,
.loginBTN:hover {
  background-color: #bde3ff;
  color: black;
}
